<div>

	<h>What are you feeling?</h3>

	<%= simple_form_for [@thought, Distortion.new], :html => {:class => "form-vertical"},:remote => true do |f| %>
		<%= f.input :name %>
		<div class="btn-group">
			<span id="closeDistortion" class="btn">Cancel</span><%= f.button :submit, :id => "createDistortion" %>
		</div>
	<%end%>

</div>