<div>

	<h>Now that you've analyzed your thinking, how do you feel?</h3>

	<% @incident.feelings.each do |feeling| %>
		<li><%= feeling.name %></li>
		<%= simple_form_for [@incident, feeling], :html => {:class => "form-vertical"},:remote => true do |f| %>
			<%= f.input :intensityAfter %>
			<div class="btn-group">
				<span id="closeFeeling" class="btn">Cancel</span><%= f.button :submit, :id => "createFeeling" %>
			</div>
		<%end%>
	<%end%>
</div>


		<!--

		- grab collection of @incident.feelings
		- for each feeling, indicate new value for intensityAfter
		- append each new value 1) to list here, and 2) in main incident

		-->