<div>

	<h>For each thought, can you create a more rational alternative?</h3>

	<% @incident.thoughts.each do |thought| %>
		<li><%= thought.thought %></li>
		<%= simple_form_for [@incident, thought], :html => {:class => "form-vertical"},:remote => true do |f| %>
			<%= f.input :rationalThought %>
			<div class="btn-group">
				<span id="closeRationalThought" class="btn">Cancel</span><%= f.button :submit, :id => "createRationalThought" %>
			</div>
		<%end%>
	<%end%>
</div>




		<!--

		- grab collection of @incident.thoughts
		- for each thought, append a form with field to enter rational version
		- append each new rational version 1) to each thought here, and 2) to each thought in main incident

		-->