<div style="padding:20px">

	<h>Add thought</h3>


	<%= simple_form_for [@incident, Thought.new], :html => {:class => "form-vertical"},:remote => true do |f| %>
		<%= f.input :thought, :input_html => {:style => "width:98%"} %>


	<div class="row">
		<div class="btn-group">
			<span id="closethought" class="btn">Cancel</span><%= f.button :submit, :id => "createthought" %>
		</div>
	</div>
	<%end%>


</div