<%= content_tag_for(:li, distortion, :class => "distortionList") do %>

	<!-- how about button to delete each distortion? -->

	<div id="distortionContent" class="distortionContent">
		<%= distortion.name %>
	</div>


<% end %>
